<h1>{{ label.title }}</h1>
<form class="login_form" [formGroup]="loginFormGroup" (ngSubmit)="submit()">
  <div class="login_input-fields">
    <label for="user-id">ユーザーID</label>
    <input formControlName="id" id="user-id" type="text" />
    <label for="password">パスワード</label>
    <input formControlName="password" id="password" type="password" />
    <p *ngIf="error">{{ error }}</p>
  </div>
  <div>
    <button type="submit" [disabled]="!loginFormGroup.valid">
      {{ label.button }}
    </button>
    <a class="login_link" [href]="label.linkHref">{{ label.linkText }}</a>
  </div>
</form>
